* {
	outline: none;
}
html {
	font-size: $base-font-size;
}
body {
	color: $default;
	font-family: $main-font;
	line-height: $base-line-height;
	@include fontsize(1.6);
	@include fontweight(400);
	background: $def_light;
}
//MAIN LAYOUT
body,
.header {
	min-width: 375px;
}
.content {
	padding: 50px 0 20px;
	@media (min-width: $screen-sm-min) {
		padding: 0 0 96px;;
	}
}
.container {
	position: relative;
}
.main {
	padding-top: 60px;
}
.modal_is_active {
	overflow: hidden;
}
html,
body {
	@media (min-width: $screen-sm-min) {
		height: 100%;
	}
}
a {
	color: $def_color;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
label {
	font-weight: normal;
}
p {
	line-height: 2.4rem;
}
h5 {
	@include fontsize(1.8);
	@include fontweight(600);
}
.txt {
	padding-bottom: 10px;
}
.lbl {
	@include fontsize(1.2);
	@include fontweight(600);
	color: lighten($default, 60%);
}
.field {
	margin-bottom: 15px;
}
.field:after {
	content: '';
	clear: both;
	display: block;
}
input[type=checkbox],
input[type=radio] {
	margin: 0;
	width: 17px;
	height: 17px;
}
.inp,
.form-control {
	box-shadow: none;
	border: 1px solid $bordercolor;
	color: $default;
}
select.form-control {
	padding: 6px;
}
.form-control {
	&:focus {
		box-shadow: inset 0 0 4px rgba(210, 210, 210, 0.4);
		border-color: $bordercolor;
	}
}
.map {
	position: relative;
}
//info sections
.italic_bold_txt {
	font-family: $ital_bold_font;
}
.bold_txt {
	font-family: $bold_font;
}
.info_section {
	padding: 20px 0;
	@media (min-width: $screen-sm-min) {
		padding: 80px 0;
	}
	p {
		margin-bottom: 20px;
		@media (min-width: $screen-sm-min) {
			margin: 0 0 30px;
		}
	}
	h2 {
		margin: 0 0 20px;
		color: $color_active;
		font-family: $bold_font;
		@media (min-width: $screen-sm-min) {
			@include fontsize(3.7);
			margin: 0 0 50px;
		}
	}
	&.type_1 {
		background: url("../img/bg_1.jpg") no-repeat;
		background-size: cover;
		color: $def_light;
		h2 {
			color: $def_light;
		}
	}
	&.type_2 {

	}
	&.type_3 {
		background: url("../img/bg_3.jpg") no-repeat;
		background-size: cover;
		color: $def_light;
		h2 {
			color: $def_light;
		}
	}
	&.type_4 {
		background: #f7f7f7;
		background-size: cover;
	}
	&.type_5 {
		background: url("../img/bg_2.jpg") no-repeat;
		background-size: cover;
		color: $def_light;
		@media (min-width: $screen-sm-min) {
			padding: 125px 0 80px;
		}
		h2 {
			color: $def_light;
		}
	}
}

